

body {
  /* Location of the image */
  background-image: url(sky.jpg);
  
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
  
  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #464646;

  font-family: 'Kreon', serif;
}

/**** HEADER SECTION *****/

.header {
    text-align: center;
    margin: auto;
    color: #83b35e;
    font-size: 4.6rem;
}

.headerTwo {
    color: #5d87ab;
    text-align: center;
    margin: -32px auto 0 0;
    font-size: 5.7rem;
}

.welcome-container {
  width: 100%;
  align-content: center;
}

.welcome {
    margin: 0 auto;
    display: block;
    width: 50%;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #777777;
}

.input {
    margin: 20px auto; 
    display: block;
    width: 50%;
    height: 40px;
    font-size: 25px;
}

/****** LIST GRID DISPLAY *****/

.collection-grid {
    display: grid;
    /* grid-gap: 50px; */
    grid-template-columns: auto;
    /*background-color: #2196F3;*/
    padding: 10px;
    width: 50%;
    margin: auto;
}

.collection-item {
  background-color: transparent;/*rgba(255, 255, 255, 0.8);*/
  /*border: 1px solid rgba(0, 0, 0, 0.8);*/
  padding: 5px;
  font-size: 20px;
  
}

/****** LIST STYLING *****/

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}


/***** ACCORDION STYLING *****/

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}


/***** MOBILE STYLING *****/

@media only screen and (max-width: 900px) {
  body {
    background-color: lightblue;
  }
  .welcome {
    margin: 0 auto;
    display: block;
    width: 90%;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #777777;
}
.input {
    margin: 20px auto; 
    display: block;
    width: 90%;
    height: 40px;
    font-size: 25px;
}

  .collection-grid {
    display: grid;
    /* grid-gap: 50px; */
    grid-template-columns: auto;
    /*background-color: #2196F3;*/
    padding: 10px;
    width: 90%;
    margin: auto;
}
}